.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}

.formControl.error span {
  color: red;
}

.formSummaty {
  color: blueviolet;
  border: royalblue 1px solid;
  padding: 10px;
}
