/* .content {
  grid-area: content;
  background-color: #f2eecf;
} */

.avatar {
}

.avatar img {
  width: 100px;
}

/* a.button5[data-twitter]:before {
  content: url(http://favicon.yandex.net/favicon/twitter.com);
}
a.button5[data-vk]:before {
  content: url(http://favicon.yandex.net/favicon/vk.com);
}
a.button5[data-facebook]:before {
  content: url(http://favicon.yandex.net/favicon/facebook.com);
} */
