.userItem_global {
  display: grid;
  width: 350px;
  margin: 5px;
  grid-template-areas: "avatar avatar avatar" "name name followButton" "status status status";

  grid-gap: 1em;
  background-color: rgb(241, 193, 128);
}

.userItem_avatar_image {
}

.userItem_avatar_image img {
  grid-area: avatar;
  width: 50px;
  border-radius: 25px;
}

.userItem_status_area {
  grid-area: status;
}

.userItem_name_area {
  grid-area: name;
}

.userItem_followButton_area {
  grid-area: followButton;
}

.userItem_location_area {
  grid-area: location;
}
