.dialogs_main {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs_items {
  padding: 5px;
  font-size: 14px;
}
.dialogs_items a {
  text-decoration: none;
  color: #1c1f06;
}

.dialogs_messages {
  padding: 5px;
  font-size: 14px;
}
